@page
@model PassionCentre.Pages.Audit.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit AuditRecord</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuditRecord.Audit_ID" />
            <div class="form-group">
                <label asp-for="AuditRecord.AuditActionType" class="control-label"></label>
                <input asp-for="AuditRecord.AuditActionType" class="form-control" />
                <span asp-validation-for="AuditRecord.AuditActionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditRecord.Username" class="control-label"></label>
                <input asp-for="AuditRecord.Username" class="form-control" />
                <span asp-validation-for="AuditRecord.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditRecord.DateStamp" class="control-label"></label>
                <input asp-for="AuditRecord.DateStamp" class="form-control" />
                <span asp-validation-for="AuditRecord.DateStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditRecord.TimeStamp" class="control-label"></label>
                <input asp-for="AuditRecord.TimeStamp" class="form-control" />
                <span asp-validation-for="AuditRecord.TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditRecord.KeyCourseFieldID" class="control-label"></label>
                <input asp-for="AuditRecord.KeyCourseFieldID" class="form-control" />
                <span asp-validation-for="AuditRecord.KeyCourseFieldID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditRecord.IPAddress" class="control-label"></label>
                <input asp-for="AuditRecord.IPAddress" class="form-control" />
                <span asp-validation-for="AuditRecord.IPAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
