@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Header -->
<div class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="https://images.pexels.com/photos/4144221/pexels-photo-4144221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>PS</b></span> <span class="w3-hide-small w3-text-black">Passion Centre</span></h1>
    </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p>
            Passion Centre is an online web application learning platform with courses conducted by hand-picked professionals. 
            Anyone with a registered account can send an application to be a trainer by contacting Passion Centre. 
            Applicants that are successful will be notified by the Staff via the email provided, and their account will be promoted as a trainer. 
            Trainers are people from all over the world who are willing to share their expertise with the public. 
            Trainers can create courses by submitting a form in the Passion Centre containing details about the course such as the subject and meeting details. 
            Courses can only be browsed by Users with an account. 
            From there, users can view information about the course such as the details, description, and meeting platform (Zoom, Google Meet, etc). 
            When the user finds a course he/she is interested in, attending the course is as simple as logging into the stated meeting platform where he/she can start learning.
        </p>
    </div>
</div>
<br />
<br />