@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Header -->
<div class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="https://images.pexels.com/photos/4144221/pexels-photo-4144221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>PS</b></span> <span class="w3-hide-small w3-text-black">Passion Centre</span></h1>
    </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

    <div class="w3-row-padding">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">The Crew</h3>
        <div class="w3-col w3-container l4">
            <img src="https://content-en.teletubbies.com/uploads/2016/03/laa-laa.png" alt="John" style="width:100%">
            <h3>Colin</h3>
            <p class="w3-opacity">Developer</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
        <div class="w3-col w3-container l4">
            <img src="https://content-en.teletubbies.com/uploads/2016/03/tinky-winky.png" alt="Jane" style="width:100%">
            <h3>Glenn</h3>
            <p class="w3-opacity">Developer</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
        <div class="w3-col w3-container l4">
            <img src="https://content-en.teletubbies.com/uploads/2016/03/dipsy.png" alt="Mike" style="width:100%">
            <h3>Yi Qian</h3>
            <p class="w3-opacity">Developer</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
    </div>
</div>
<br />
<br />