@page
@model PassionCentre.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Application User</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationUser.FullName" class="control-label"></label>
                <input asp-for="ApplicationUser.FullName" class="form-control" />
                <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.BirthDate" class="control-label"></label>
                <input asp-for="ApplicationUser.BirthDate" class="form-control" />
                <span asp-validation-for="ApplicationUser.BirthDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ApplicationUser.Id" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}